@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Raleway', sans-serif;
	background: #F7F7F7;
	color: #090f21;
}
:root {
	--toastBackground: #80e27b;
    --toastColor: #fbfbfb;
	--toastBarBackground: #ffffff;
    --toastContainerBottom: 2rem;
    --toastContainerRight: auto;
    --toastContainerBottom: auto;
    --toastContainerLeft: calc(50vw - 8rem);
  }
 